/*Fontes*/
@font-face{
	font-family: "Roboto"; /*Escolha um nome pra sua fonte*/
	src: url(../fonts/Roboto-Regular.ttf); /*caminho para a fonte*/
}
@font-face{
	font-family: "Roboto-bold"; /*Escolha um nome pra sua fonte*/
	src: url(../fonts/Roboto-Black.ttf); /*caminho para a fonte*/
}
/*Variaveis*/
:root{
	--primary:#3b1b6a;
	--second:#00c799;
	--transition:.4s;
	--p:#A8A7AA;
}
/*CSS Geral*/
*{padding: 0; margin:0; box-sizing: border-box; outline: none; text-decoration: none; list-style: none;}
img{max-width: 100%; display: block;}
body, html{font-family: 'Roboto'; font-size: 100%; position: relative;}
.container{max-width: 1180px; margin: 0 auto; padding: 0px 20px;}
.title{margin: 80px 0px; width: 100%; text-align: center;}
.title h2{color: var(--primary); font-weight: 600;}
.title .separator{width: 70px; height: 2px; background: var(--second); margin: 0 auto; margin-top: 5px;}
.title p{color: var(--p); font-size: 14px; margin-top: 20px;}

.top .container{display: flex; justify-content: space-between; align-items: center; align-content: center; height: 70px;}
.logo h1{color: var(--primary); font-size: 1.4rem; font-weight: bold;}
.top .nav ul{display: flex; align-items: center;}
.top .nav ul li a{color: var(--primary); margin-right: 20px; transition: var(--transition);}
.top .nav ul li a:hover{color:var(--second);}
.top .nav ul li.start-btn{cursor: pointer; padding: 10px 20px; background: var(--second); color: #fff; transition: var(--transition);}
.top .nav ul li.start-btn:hover{background: var(--primary);}

.menu-toggle{width: 35px; height: 35px; flex-direction: column; /*border: solid 1px black;*/ justify-content: space-around; cursor: pointer; display: none; z-index: 10;}
.one, .two, .three{width: 100%; height: 4px; background: var(--primary); transition-duration: 0.3s;}

.top .nav.on{width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; position: fixed; top: 0; left: -100%; background: var(--primary); transition:.4s;}
.top .nav.on ul{flex-direction: column;}
.top .nav.on ul li a{color: #fff; display: block; width: 100%; font-size: 1.4rem; padding: 15px; text-align: center; transition: var(--transition);}
.top .nav.on ul li a:hover{color:var(--second);}
.top .nav.on ul li.start-btn{font-size: 1.4rem; text-align: center; transition: border-width 0.1s linear;}
.top .nav.on ul li.start-btn:hover{border: solid 3px var(--second);}

/*@media (max-width: 1180px){
	.container{padding: 0px 30px;}
}
@media (max-width: 850px){
	.top .nav .menu-toggle{display: flex;}
	.top .nav.on{left: 0; z-index: 2222;}
	.top .nav ul{display: none;}
	.top .nav.on ul{display: flex;}
	.top .nav.on ul li{animation-name: menu; animation-duration: .3s;}
	.top .nav.on .menu-toggle{display: flex; position: absolute; right: 30px; top:20px;}
	.top .nav.on .menu-toggle .one,.top .nav.on .menu-toggle .three{background: #fff;}
	.top .nav.on .menu-toggle .two{opacity: 0;}
	.top .nav.on .menu-toggle .one{transform: rotate(45deg) translate(7px, 8px);}
	.top .nav.on .menu-toggle .three{transform: rotate(-45deg) translate(8px, -9px);}
	
} */

@keyframes menu{
	0%{transform: scale(0);}
	100%{transform: scale(1);}
}
/*Main*/
.main{display: flex; margin-top: 50px;}
.main .col-1,.main .col-2{width: 50%; height: 350px;  display: flex; flex-direction: column;}
.main .col-1{margin-right: 50px; position: relative;}
.main .col-1 h1{font-size: 4rem; font-family: "Roboto-bold";font-weight: 300; color: var(--primary);}
.main .col-1 p{color: var(--p); font-size: 0.9rem; line-height: 22px; margin-top: 30px;}
.main .col-1 a{color: var(--second); margin: 30px 0; display: flex; align-items: center; font-weight: bold;}
.main .col-1 a img{margin-left: 5px; transition: var(--transition);}
.main .col-1 a:hover img{margin-left: 10px;}
.slider{position: absolute; bottom: 0; left: 0; right: 0;}
.swiper-container{width: 80%;}
.swiper-container img{width: 100px; height: 70px;}
.arrows .left,.arrows .right{position: absolute; top: 50%; transform: translateY(-50%); color: var(--second); font-size: 1.8rem; cursor: pointer; transition: var(--transition);}
.arrows .left:hover,.arrows .right:hover{color: var(--primary);}
.arrows .left{left: 0;}
.arrows .right{right: 0; color:  var(--second);}
.main .col-2{display: flex; justify-content: flex-end; align-items: flex-end;}

/*@media (max-width: 850px){
	.main{flex-direction: column; margin-top: 50px;}
	.main .col-1{width: 100%; text-align: center;}
	.main .col-2{display: none;}
	.main .col-1 h1{font-size: 3rem;}
	.main .col-1 a{margin: 0 auto; margin-top: 30px;}
}*/
/*About*/
.about .container{display: flex;}
.about .container .col-1{width: 60%;}
.about .container .col-2{width: 40%;}
.about .container .col-1 h2{color: var(--primary); font-size: 2em; text-transform: uppercase;}
.about .container .col-1 h3{color: var(--second); font-size: 2em; text-transform: uppercase;}
.about .container .col-1 p{color: var(--p); margin-top: 20px; font-size: 0.9rem;}
.about .container .col-1 a{color: var(--second); margin: 30px 0; display: flex; align-items: center; font-weight: bold;}
.about .col-1 a img{margin-left: 5px; transition: var(--transition);}
.about .col-1 a:hover img{margin-left: 10px;}
.about .container .col-2 .image-about{display: flex; justify-content: flex-end;}

/*@media (max-width: 850px){
	.title{margin: 70px 0px;}
	.about .container{flex-direction: column;}
	.about .container .col-1{width: 100%; text-align:left;}
	.about .container .col-1 h2{color: var(--primary); font-size: 1.7rem;}
	.about .container .col-1 h3{color: var(--second); font-size: 1.7rem;}
	.about .container .col-1 a{margin: 30px 0 0 0;}
	.about .container .col-2{width: 100%; margin-top: 30px;}
	} */


/*Team*/
.team-title{ width: 100%; text-align: center;}
.team-title h1{color: var(--primary); text-transform: uppercase; font-family: "Roboto-bold";font-weight: 300;}
.team-title p{color: var(--p); margin-top: 15px; font-size: 14px;}
.team-section{display: flex; margin-top: 80px;}
.col-img{width: 40%;}
.col-team{ display: flex; width: 60%; justify-content: space-around;}
.team-box{position: relative; max-width: 250px; height: 290px; margin-right: 40px;}
.team-box img{width: 100%;}
.team-box:last-child{margin-right: 0;}
.team-box::before{content: ""; position: absolute; width: 80%; height: 55%; top: -15px; left: -15px; border: solid 2px var(--second); border-style: dashed; z-index: -1;}
.team-description{padding-top: 10px; text-align: center; box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1); border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;}
.team-description h2{text-transform: uppercase; font-size: 19px; font-weight:; color: var(--primary);}
.team-description h3{color: var(--p); font-size: 12px; font-weight: 100;}
.social{ display: flex; justify-content: center;}
.social a{color: var(--second); font-size: 20px; display: inline-block; padding: 10px; transition: var(--transition)}
.social a:hover{opacity: 0.7;}

/*@media (max-width: 850px){
	.team-section{margin-top: 50px;}
    .team-title p{padding: 0 25px;}
	.col-img{display: none;}
	.col-team{flex-direction: column; justify-content: center; align-content: center; align-items: center;}
	.team-box{width: 55%; margin: 50px 0px; height: auto;}
	.team-box::before{width: 220px; height: 220px}
}
@media (max-width: 463px){
    .team-box::before{width: 150px; height: 150px;}
}*/

#stephanieInfo-box, #wellingtonInfo-box, #richardInfo-box{width: 100%; height: 100%; position: fixed; overflow-y: hidden; top: 0; bottom: 0; left: 0; background: rgba(0,0,0,0.9); display: none; justify-content: center;align-content: center; align-items: center; z-index: 20000;}
#stephanieInfo-box .btn-close, #wellingtonInfo-box .btn-close, #richardInfo-box .btn-close{position: absolute; right: 20px; top: 20px; color: #fff; font-size: 2em; cursor: pointer;}
#stephanieInfo-box .info, #wellingtonInfo-box .info, #richardInfo-box .info{width: 70%; background: #fff; height: 450px; overflow-y: auto; display: flex; padding:; justify-content: center; align-content: center; animation-name: infoTeam; animation-duration: .5s;}
#stephanieInfo-box .info .col-img, #wellingtonInfo-box .info .col-img, #richardInfo-box .info .col-img{width: 30%; height: 100%; display: flex; justify-content: center; align-items: center; padding: 30px;}
#stephanieInfo-box .info .col-img img, #wellingtonInfo-box .info .col-img img, #richardInfo-box .info .col-img img{width: 100%;}
#stephanieInfo-box .info .col-info, #wellingtonInfo-box .info .col-info, #richardInfo-box .info .col-info{width: 70%; padding: 30px;}
#stephanieInfo-box .info .col-info h2, #wellingtonInfo-box .info .col-info h2, #richardInfo-box .info .col-info h2{color: var(--primary);}
#stephanieInfo-box .info .col-info h3, #wellingtonInfo-box .info .col-info h3, #richardInfo-box .info .col-info h3{color: var(--second); font-size: .9em;}
#stephanieInfo-box .info .col-info .fa-graduation-cap, #wellingtonInfo-box .info .col-info .fa-graduation-cap, #richardInfo-box .info .col-info .fa-graduation-cap{color: var(--primary); font-size: 2em;}
#stephanieInfo-box .info .col-info .box-formation, #wellingtonInfo-box .info .col-info .box-formation, #richardInfo-box .info .col-info .box-formation{margin-top: 30px;}
#stephanieInfo-box .info .col-info .box-formation p, #wellingtonInfo-box .info .col-info .box-formation p, #richardInfo-box .info .col-info .box-formation p{color: var(--p); font-size: .9em;}

@keyframes infoTeam{
    0%{opacity: 0; }
    100%{opacity: 1;}
}
/*Portifolio*/
.portifolio-box{width: 100%; display: flex; flex-wrap: wrap; position: relative;}
.box-img{width: 25%; overflow:hidden; position: relative;}
.box-img img{transition: var(--transition);}
.box-img:hover img{transform: scale(1.2);}
.box-img img{width: 100%;}
.btn-portifolio{display: flex; margin: auto; margin-top:80px; background: var(--second); color: #fff; padding: 10px 30px; text-align: center; font-size: 18px; transition: var(--transition);}
.btn-portifolio:hover{ opacity: 0.8}

.img-modal{position: fixed; padding: 100px; background: rgba(0,0,0,0.8); width: 100%; height: 100%; z-index: 9999; top: 0; display: none; justify-content: center; align-items: center; animation-name: modalImg; animation-duration: 0.5s;}
.box-modal img{width: 100%; height:100%; max-height: 600px; max-width: 600px;}
.btn-modal-close{position: absolute; top:30px; color: #fff; right: 30px; font-size: 2em; cursor: pointer;}

@keyframes modalImg{
    0%{opacity: 0; transform: scale(0);}
    100%{opacity: 1; transform: scale(1);}
}

/*@media (max-width: 850px){
    .portifolio-box{flex-direction: column;}
    .box-img{width: 100%;}
    .title p{padding: 0 25px;}
    .img-modal{padding: 0 20px;}
    .box-modal img{width: 500px;}
}*/
/*NewsLetter*/
.news{margin-top: 120px; background: var(--second); display: flex; height: 185px; position: relative;}
.news .container .news-img{position: absolute; left: 0; top: -100px; bottom: 0; width: 450px;}
.news .container .news-form{width: 40%; position: absolute; right: 150px; top:50%; transform: translateY(-50%);text-align: center;}
.news .container form label{color: #fff; text-transform: uppercase; font-weight:600; display: block; margin-bottom: 20px;}
.news .container form .form-box{width: 100%; background: #fff; display: flex; justify-content: space-between;}
.news .container form input[type="text"]{padding: 12px 10px; border: none; width: 100%;}
.news .container form input[type="submit"]{background: #049A77; color: #fff; padding: 12px; border: none; cursor: pointer; font-weight: 600;}

/*@media (max-width: 850px){
    .news .container .news-img{display: none;}
    .news .container .news-form{width: 100%; right: 0px; padding: 0 25px;}
}
*/
/*testimony*/
.testimony-section .container{display: flex;}
.testimony-section .container .col-1{width: 50%; position: relative;}
.testimony-section .container .col-img{width: 50%;}
.testimony-section .container .col-img img{width: 450px; float: right;}
.testimony{display: flex; width: 100%; overflow: hidden; height: 300px!important; position: relative;}
.swiper-pagination{width: 100%; display: flex; position: absolute; margin-top: 10px; justify-content: center;}
.swiper-pagination-clickable .swiper-pagination-bullet {background: var(--primary);}
.swiper-pagination .swiper-pagination-bullet{background: var(--primary); padding: 6px; margin-left: 5px; opacity: 1;}
.swiper-pagination .swiper-pagination-bullet-active{background: var(--second);}
.box-testimony{display: flex; justify-content: center; align-items: center; padding: 20px;}
.box-testimony.bg-1{background: var(--primary);}
.box-testimony.bg-2{background: var(--second);}
.box-testimony .img img{width: 250px; border-radius: 50%;}
.box-testimony .message{padding-left: 20px; color: #fff; font-family: "Roboto";}
.box-testimony .message p{font-size: 13px; font-weight: lighter;}
.box-testimony .message h2{margin-top: 20px; font-size: 16px;}
.box-testimony .message h3{font-size: 11px; font-weight: lighter;}

/*@media (max-width: 850px){
    .testimony-section .container{padding: 0;}
    .testimony-section .container .col-img{display: none;}
    .testimony-section .container .col-1{width: 100%;}
    .testimony{height: 350px!important;}
}*/
/*Other Services*/
.other-services-box{display: flex; margin-top: 100px;}
.other-services-box .col{width: 33%; border: solid 3px var(--primary); margin-right: 30px; padding: 30px 20px; text-align: center; transition: var(--transition);}
.other-services-box .col:last-child{margin-right: 0;}
.other-services-box .col:hover{border: solid 3px var(--second);}
.other-services-box .col:hover h2{color: var(--second);}
.other-services-box .col img{width: 200px; margin: auto; margin-bottom: 20px;}
.other-services-box .col h2{color: var(--primary); font-size: 2em; font-weight: bold; font-family: "Roboto"; margin-bottom: 20px;}
.other-services-box .col p{font-size: .9em; color: var(--p);}

/*Contact*/
.contact .container{display: flex;}
.contact .col-1{width: 50%;}
iframe{width: 100%; height: 100%;}
.contact .col-2{width: 50%; margin-left: 30px; display: flex; flex-direction: column;}
.contact .col-2 .contact-title{background: var(--primary); color: #fff; padding: 15px 35px; text-align: center;}
.contact .col-2 form{padding: 15px; margin-top: 25px; background: var(--second); display: flex; flex-direction: column; height: 100%;}
.contact .col-2 form label{color: #fff; font-size: .9em; margin-top: 15px; margin-bottom: 3px;}
.contact .col-2 form label:first-child{margin-top: 0;}
.contact .col-2 form input, .contact .col-2 form textarea{padding: 9px; border: none; color: var(--p);}
.contact .col-2 form textarea{padding: 20px;}
.contact .col-2 form .contact-btn{margin-top: 15px;}
.contact .col-2 form .contact-btn input{color: var(--second); background: #fff; width: 150px; margin-right: 15px; cursor: pointer;}
.contact .col-2 form .contact-btn input:hover{border-left: solid 5px var(--primary);}

/*Footer*/
footer{background: var(--second); margin-top: 80px; padding: 25px 0px 0px 0px;}
footer .container{border-bottom: solid 2px #1EF9C7; display: flex; flex-wrap: wrap; justify-content: space-between; padding-bottom: 25px;}
footer .container:last-child{border: none; justify-content: center; color: #fff; font-family: "Roboto"; font-size: .9em; height: 40px; padding: 10px;}
footer .container .col-footer h2{color: #fff; font-size: 1.2em; font-weight: 100; margin-bottom: 10px;}
footer .container .col-footer ul li a{color: #fff; font-size: .8em; font-weight: 100;}
footer .container .col-footer ul li a:hover{text-decoration: underline;}
footer .container .col-footer .works{display: flex;}
footer .container .col-footer .works img{width: 42px; padding: 3px;}
footer .container .col-footer ul.social-icons{display: flex;}
footer .container .col-footer ul.social-icons a{font-size:1.5em; margin-left: 10px;}
